<div style="max-width: 300px; margin: 0 auto; text-align: center; margin-top: 100px;">
  <br>
  <br>
  <%= link_to "Inertia Example", "/inertia-example", data: { turbo: false } %>
  <br>
  <br>
  <%= link_to "Island Example", "/island-example" %>
</div>